In multiple linear regression, there is one dependent variable and multiple independent variables.

- y = c + m1x1 + m2x2 + ..... +mnxn

Using sklearn

- read the data
- cleaning/analyzing the data
- separate the features and target
- train/test the data
- selection of required model
- fit the training data to the model
- predict the data using test data
- compare the actual and the predicted data
- evaluation metrics

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data = pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Datasets/master/Regression/FuelConsumptionCo2.csv")

In [3]:
data.isna().sum()

MODELYEAR                   0
MAKE                        0
MODEL                       0
VEHICLECLASS                0
ENGINESIZE                  0
CYLINDERS                   0
TRANSMISSION                0
FUELTYPE                    0
FUELCONSUMPTION_CITY        0
FUELCONSUMPTION_HWY         0
FUELCONSUMPTION_COMB        0
FUELCONSUMPTION_COMB_MPG    0
CO2EMISSIONS                0
dtype: int64

In [5]:
data.shape

(1067, 13)

In [6]:
data.head()

,MODELYEAR,MAKE,MODEL,VEHICLECLASS,ENGINESIZE,CYLINDERS,TRANSMISSION,FUELTYPE,FUELCONSUMPTION_CITY,FUELCONSUMPTION_HWY,FUELCONSUMPTION_COMB,FUELCONSUMPTION_COMB_MPG,CO2EMISSIONS
0,2014,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,2014,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,2014,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,2014,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,2014,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244

In [7]:
data["MODELYEAR"].value_counts()

2014    1067
Name: MODELYEAR, dtype: int64

In [20]:
x=data[["FUELCONSUMPTION_CITY","FUELCONSUMPTION_HWY","FUELCONSUMPTION_COMB"]]
y=data["CO2EMISSIONS"]

In [35]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=2)
x_train

      FUELCONSUMPTION_CITY  FUELCONSUMPTION_HWY  FUELCONSUMPTION_COMB
227                   22.1                 15.0                  18.9
1015                   9.9                  7.2                   8.7
107                   14.4                  9.6                  12.2
799                    9.1                  6.7                   8.0
398                   13.7                 10.2                  12.1
...                    ...                  ...                   ...
360                   11.2                  8.5                  10.0
466                   11.5                  8.2                  10.0
299                   15.8                  9.2                  12.8
493                   10.6                  7.9                   9.4
527                   12.6                  8.7                  10.8

[746 rows x 3 columns]

In [36]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [37]:
y_pred=model.predict(x_test)

In [26]:
model.predict([[6.0,5.8,5.9]])

array([153.59477081])

In [38]:
from sklearn.metrics import r2_score,mean_squared_error
r2_score(y_test,y_pred)*100

81.13564242744533

In [41]:
mean_squared_error(y_test,y_pred)**0.5

28.219321104180377

In [42]:
model.intercept_

77.0881931796356

In [43]:
model.coef_

array([20.19153263,  1.70148849, -9.1409838 ])