### DICTIONARY :

It is used to store non-homogenous group of data in the form of key : value.

#### Properties :
- It is used to store data as K : V in `{}`
- It is iterable.
- Ordered
    - Python 3.6 is Unordered.
    - Python 3.6+ is ordered.
- Key should be unique and it is immutable.
- Value can be non-unique and it is mutable.

In [1]:
d1 = {'RollNo' : [1, 2, 3, 4, 5, 6]}

print(d1)

{'RollNo': [1, 2, 3, 4, 5, 6]}

In [39]:
d1 = {'1234567890' : ['APSSDC', 'Vijayawada', '01/01/2020', '9876543210'],
    '9876543210' : ['Python', 'Earth', '01/01/2020', '0123456789'],
     '1234567890' : ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']}
print(d1)

{'1234567890': ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210'], '9876543210': ['Python', 'Earth', '01/01/2020', '0123456789']}

In [40]:
d2 = {(1, 2, 3) : 'Python'}

In [41]:
print(d2)

{(1, 2, 3): 'Python'}

### Accessing the pairs in the dictionary :

In [42]:
print(d1)

{'1234567890': ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210'], '9876543210': ['Python', 'Earth', '01/01/2020', '0123456789']}

In [43]:
print(d1['1234567890'])

['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']

In [44]:
print(d1['123456789'])

KeyError: '123456789'

In [45]:
d1['1234567890'] = ['APSSDC','Bhimavaram', '05/01/2020', '9876543210']
d1['123456789'] = ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']

print(d1)

{'1234567890': ['APSSDC', 'Bhimavaram', '05/01/2020', '9876543210'], '9876543210': ['Python', 'Earth', '01/01/2020', '0123456789'], '123456789': ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']}

In [46]:
print(d1['1234567890'][2])

05/01/2020

In [47]:
d1['1234567890'][3] = '9898989898'

print(d1)

{'1234567890': ['APSSDC', 'Bhimavaram', '05/01/2020', '9898989898'], '9876543210': ['Python', 'Earth', '01/01/2020', '0123456789'], '123456789': ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']}

In [48]:
d1['1234567890'] = sorted(d1['1234567890'])

print(d1)

{'1234567890': ['05/01/2020', '9898989898', 'APSSDC', 'Bhimavaram'], '9876543210': ['Python', 'Earth', '01/01/2020', '0123456789'], '123456789': ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']}

In [49]:
d = {123:456, 132:344, 123:456}
print(d1)

{'1234567890': ['05/01/2020', '9898989898', 'APSSDC', 'Bhimavaram'], '9876543210': ['Python', 'Earth', '01/01/2020', '0123456789'], '123456789': ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']}

In [50]:
print(d[123])

456

### Dictionary Methods :

In [51]:
print(d1)

{'1234567890': ['05/01/2020', '9898989898', 'APSSDC', 'Bhimavaram'], '9876543210': ['Python', 'Earth', '01/01/2020', '0123456789'], '123456789': ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']}

In [52]:
print(d1.keys())

dict_keys(['1234567890', '9876543210', '123456789'])

In [53]:
print(d1.values())

dict_values([['05/01/2020', '9898989898', 'APSSDC', 'Bhimavaram'], ['Python', 'Earth', '01/01/2020', '0123456789'], ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']])

In [55]:
print(d1.items())

dict_items([('1234567890', ['05/01/2020', '9898989898', 'APSSDC', 'Bhimavaram']), ('9876543210', ['Python', 'Earth', '01/01/2020', '0123456789']), ('123456789', ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210'])])

In [57]:
print(d1.get('123'))

None

In [58]:
print(d1.get('123', 'key not available'))

key not available

In [59]:
print(d1.get('1234567890', 'key not available'))

['05/01/2020', '9898989898', 'APSSDC', 'Bhimavaram']

In [67]:
m21 = {'2_1' : [25, 55, 65, 77, 80, 69]}
m31 = {'2_1' : [35, 55, 65, 77, 80, 60], '3_1' : [1, 2, 3, 4, 5]}
m32 = {'2_1' : [50, 55, 65, 77, 80, 60], '3_2' : [6, 5, 3, 2, 1]}

In [68]:

print(m21)

{'2_1': [25, 55, 65, 77, 80, 69]}

In [69]:
m21.update(m31)
print(m21)

{'2_1': [35, 55, 65, 77, 80, 60], '3_1': [1, 2, 3, 4, 5]}

In [70]:
m21.update(m32)
print(m21)

{'2_1': [50, 55, 65, 77, 80, 60], '3_1': [1, 2, 3, 4, 5], '3_2': [6, 5, 3, 2, 1]}

In [72]:
coopy = m21.copy()


print(copy)

{'RollNo': [50, 55, 65, 77, 80, 60], '3_2': [1, 2, 3, 4, 5]}

In [73]:
m21 = m31.copy()
print(m21)

{'2_1': [35, 55, 65, 77, 80, 60], '3_1': [1, 2, 3, 4, 5]}

In [74]:
m21.clear()
print(m21)

{}

In [75]:
print(m31.pop("3_1"))

print(m31)

[1, 2, 3, 4, 5]
{'2_1': [35, 55, 65, 77, 80, 60]}

In [76]:
print(m32)

{'2_1': [50, 55, 65, 77, 80, 60], '3_2': [6, 5, 3, 2, 1]}

In [77]:
print(m32.popitem())

print(m32)

('3_2', [6, 5, 3, 2, 1])
{'2_1': [50, 55, 65, 77, 80, 60]}

In [78]:
li = [1, 2, 3]

a, b, c = li

print(a, b, c)

1 2 3

In [79]:
a, b = [1,2,3]

ValueError: too many values to unpack (expected 2)

In [80]:
a, b = [1, 2]

In [81]:
print(a, b)

1 2

In [82]:
a, b, c, d = (1, 1, 2, 3)

print(a, b, c, d)

1 1 2 3

In [84]:
li2 = [a, b, c, d]
print(li2)

[1, 1, 2, 3]

### Iterating :

In [85]:
for pair in d1 :
    print(pair)

1234567890
9876543210
123456789

In [89]:
for val in d1.values() :
    print(val)

['05/01/2020', '9898989898', 'APSSDC', 'Bhimavaram']
['Python', 'Earth', '01/01/2020', '0123456789']
['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']

In [90]:
for pair in d1.items() :
    print(pair)

('1234567890', ['05/01/2020', '9898989898', 'APSSDC', 'Bhimavaram'])
('9876543210', ['Python', 'Earth', '01/01/2020', '0123456789'])
('123456789', ['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210'])

In [91]:
for pair in d1.items():
    print(pair[1])

['05/01/2020', '9898989898', 'APSSDC', 'Bhimavaram']
['Python', 'Earth', '01/01/2020', '0123456789']
['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']

In [92]:
for key, value in d1.items() :
    print(key)
    print(value)

1234567890
['05/01/2020', '9898989898', 'APSSDC', 'Bhimavaram']
9876543210
['Python', 'Earth', '01/01/2020', '0123456789']
123456789
['APSSDC', 'Visakhapatnam', '01/01/2020', '9876543210']

#### {1:1, 2:4, 3:9, ........ 100:10000}

In [94]:
sq = {}

for i in range(1, 101) :
    sq[i] = i ** 2
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

In [97]:
for key in sq :
    if key % 2 == 0 :
        print(sq[key], end = '--')

4--16--36--64--100--144--196--256--324--400--484--576--676--784--900--1024--1156--1296--1444--1600--1764--1936--2116--2304--2500--2704--2916--3136--3364--3600--3844--4096--4356--4624--4900--5184--5476--5776--6084--6400--6724--7056--7396--7744--8100--8464--8836--9216--9604--10000--

## TASKS :


- Character frequency inside the string.
- Word frequency inside the string.

In [100]:
s = """"Python is a widely used general-purpose, high level programming language. It was created by Guido van Rossum in 1991 and further developed by the Python Software Foundation. It was designed with an emphasis on code readability, and its syntax allows programmers to express their concepts in fewer lines of code."""

char, char_count

- [['p', 5], ['a', 10]]
- {'p : 5, 'a' : '10}

### Contact Application :

{'Name' : ['Mobile1', 'mobile2', 'email', 'DOB', 'website']}

Take the input from the user

- 1.Create a contact -> key : value
- 2.Add the contact to existing contact. -> Key -> Name
- 3.Edit the contact. -> Key -> value.
- 4.Delete the contact. -> Name
- 5.View contact.

In [118]:
Option = input("""Press the option below

1.Create a contact 
2.Add the contact to existing contact. 
3.Edit the contact.
4.Delete the contact.
5.view contact""")

Press the option below

1.Create a contact
2.Add the contact to existing contact.
3.Edit the contact.
4.Delete the contact.
5.view contact2

In [111]:
contact = {}

In [116]:
if Option == '1' :
    key = input('Enter contact name : ')
    value = input("Enter details with space seperate : ").split()
    contact[key] = value

Enter contact name : Python
Enter details with space seperate : 9876543210 python@gmail.com 01/01/2021

In [117]:
print(contact)

{'Python': ['9876543210', 'python@gmail.com', '01/01/2021']}

In [122]:
if Option == '2' :
    name = input('Enter the name to add the existing')
    if name in contact :
        data = input('Enter the data to update').split
        contact[name].extend(data)
    else :
        print(name, 'Contact is available')

Enter the name to add the existingPython
Enter the data to update1234567890

TypeError: 'builtin_function_or_method' object is not iterable

In [123]:
print(contact)

{'Python': ['9876543210', 'python@gmail.com', '01/01/2021']}