# Python Basics

## Todays Objectives


- Output & Input
- Variables in Python
- Type Conversions
- Operators in Python
- Conditional Statements

In [1]:
print("Hello World")

Hello World

In [2]:
print("Todays date is",29)

Todays date is 29

In [3]:
print("Todays date is",29, sep = '-')

Todays date is-29

In [4]:
print(1,2,3,4,5,6, sep = '\t')

1	2	3	4	5	6

In [5]:
print(1,2,3,4,5,6, sep = 'abc')

1abc2abc3abc4abc5abc6

In [7]:
print("Hello World")
print("Hello World")
print("Hello World3")

Hello World
Hello World
Hello World3

In [8]:
print("Hello World", end = '\t')
print("Hello World")
print("Hello World")

Hello World	Hello World
Hello World

### Variables

It is the named memory location which holds some value.


### Properties of declaring a variable

- It can contain A to Z, a to z, 0 to 9, _
- It shouldn't start with a number.
- no special characters should included in variable name except "_".
- Keywords are not allowed.

In [9]:
a = 10
A = 5

In [12]:
a = 55
_a = 2256
# 1a = 66
# a-b = 23+66
_ = 625
a9 = 'Python'
a9_ = 'APSSDC'

### Data Types in Python

- Primary Data Types -> int, float, complex, string, boolean.
- Secondary Data Types -> Containers -> List, Tuple, Dictionary, Set.

In [13]:
a = 55 # int
b = 55.66 #float
c = 5 + 6j #complex
d = 'a+d/.,' #string
e = True #boolean
f = ['python', 65, 5+6j, 55.665] #list
g = ('python', 65, 5+6j, 55.665) #tuple
h = {'Name' : 'Python'} #dictionary
i = {1, 2, 3, 4} #set

In [14]:
print(type(a))

<class 'int'>

In [15]:
a = 55.66

print(type(a))

<class 'float'>

In [16]:
print(type(c), type(i))

<class 'complex'> <class 'set'>

In [17]:
a = input()

123

In [18]:
abc = 556.6

In [19]:
print(type(a))

<class 'str'>

In [20]:
b = input()

[1, 2, 3]

In [21]:
print(b, type(b))

[1, 2, 3] <class 'str'>

### TYPE Conversions

In [22]:
a = int(input())

print(a, type(a))

23.3

ValueError: invalid literal for int() with base 10: '23.3'

In [23]:
a = float(input())

print(a, type(a))

2.3
2.3 <class 'float'>

### Number System

- Decimal -> 10 -> 0 to 9
- Binary -> 2 -> 0, 1
- Octal -> 8 -> 0 to 7
- Hexadecimal -> 16 -> 0 to F

In [24]:
a = 55

print(bin(a), oct(a), hex(a))

0b110111 0o67 0x37

In [26]:
print(int('110111', 2), int('67', 8), int('37', 16))

55 55 55

In [27]:
print(ord('a'))

97

In [28]:
print(chr(97))

a

### Operators in Python

- Arithmetic Operator -> +, -, *, /, %, //, **.
- Logical -> and, or, not.
- Comparisons/relational -> <, >, <=, >=, ==, !=.
- Bitwise Operator -> &(and), |(or), ~(not), ^(XOR), >>(right shift), <<(left shift .
- Assignment operator -> +=, -=, /= %=, //=, **=.
- Identity Operators -> is, not is.
- Membership operators -> in, not in.

In [30]:
a = 4
b = 10

print(a+b, a-b, a*b, a/b, a % b, a//b, a ** 2, sep = '->')

14->-6->40->0.4->4->0->16

### and(inp1 * inp2)

|inp1| inp2|inp1 and inp2|
|----|----|----|
|T|T|T|
|T|F|F|
|F|T|F|
|F|F|F|


### or(inp1 + inp2)

|inp1| inp2|inp1 or inp2|
|----|----|----|
|T|T|T|
|T|F|T|
|F|T|T|
|F|F|F|


### not(~inp1)
|inp1|not inp1|
|----|----|
|T|F|
|F|T|

In [33]:
a = 1
b = 0
c = '0'

print(a and b, a or b, not a, a and c, not c, sep = '->')

0->1->False->0->False

In [34]:
print(c and a, a or c)

1 1

In [35]:
a = 5
b = 6
c = 0

print(a and b)

6

In [36]:
print(a and c , c and a)

0 0

In [37]:
a = 5
b = 6

print(a < b, a > b, a == b)

True False False

### Bitwise Operators

&, |, ~, ^

a = 4
b = 10

4 -> 0100
10 -> 1010

          _____
          0000 -> 0 -> and
          1110 -> 14 -> or
      ~a
      4  -> 0100
            0001
            -0101 -> 5

In [38]:
a = 44
b =10

print(a & b, a | b, ~a)

8 46 -45

###

XOR ->  A'B + AB'

|inp1| inp2|inp1 and inp2|
|----|----|----|
|T|T|F|
|T|F|T|
|F|T|T|
|F|F|F|


a = 4  -> 0100

b = 10 -> 1010

         ____
         1110 -> 14

In [39]:
print(a ^ b)

38

### Left Shift and right shift



a = 4 -> 0100


a << 2 -> 010000 -> 16

a << 2 -> 0001 -> 1

In [40]:
a = 4

print(a << 2, a >> 2)

16 1

In [42]:
a = 5

a = a + 10
print(a)
a += 10
print(a)
a -= 5
print(a)
a **= 2
print(a)

15
25
20
400

# Membership Operators

In [43]:
a = 'Python'
b = 'Py'
c = 'py'

print(a in b, a in c, a not in c)

False False True

# Identity Operators

In [46]:
a = 5
b = 5.5
c = 5
d = [1, 2, 3]
e = [1, 2, 3]
f = d

In [47]:
print(a == c, d == e, d == f)

True True True

In [48]:
print(id(a))
print(id(c))
print(id(d))
print(id(e))
print(id(f))

140728773060528
140728773060528
2960527799296
2960527780864
2960527799296

In [50]:
d.append('Python')

print(d)
print(f)

[1, 2, 3, 'Python', 'Python']
[1, 2, 3, 'Python', 'Python']

In [51]:
print(d, e, f)
print( d is e, d is f, e is f)

[1, 2, 3, 'Python', 'Python'] [1, 2, 3] [1, 2, 3, 'Python', 'Python']
False True False